---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h3 class="post-title" itemprop="name headline">{{ page.title }}</h3>
    <h6 class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {% if page.author %}
        <span class="meta-separator">•</span>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name"><a href="/about.html">{{ page.author }}</a></span>
        </span>
      {% endif %}
    </h6>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
