// -------------------------------------------------------------------------- //
// -- Colors ---------------------------------------------------------------- //
// -------------------------------------------------------------------------- //

$color-brand:         #B78846 !default;
$color-secondary:     #173C52 !default;
$color-tertiary:      $color-brand !default;

$color-success:       #5CB85C !default;
$color-info:          #5BC0DE !default;
$color-warning:       #F0AD4E !default;
$color-danger:        #D9534F !default;

$color-text:          #333333 !default;
$color-background:    #E6E6E6 !default;
$color-border:        $color-brand !default;

// -------------------------------------------------------------------------- //
// -- Typography ------------------------------------------------------------ //
// -------------------------------------------------------------------------- //

$font-helvetica:        "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-open-sans:        "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-open-sans-light:  "Open Sans Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-exo-extra-light:  "Exo Extra Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-exo-light:        "Exo Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$font-base: $font-open-sans;

// -------------------------------------------------------------------------- //
// -- Border Radius --------------------------------------------------------- //
// -------------------------------------------------------------------------- //

$border-radius-base: 4px;

$border-radius-button: $border-radius-base;
$border-radius-table: $border-radius-base;
$border-radius-input: $border-radius-base;
$border-radius-misc: $border-radius-base;
